<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bubble_bubble.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F25052B81F4D1D73003D9291</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F25052CC1F4D1D74003D9291</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F25052D71F4D1D74003D9291</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
